#root {
  height: 100%;
}

.action-buttons {
  float: right;
  max-height: 30%;
  width: 25%;
  justify-content: center !important;
}


.action-button {
  display: block !important;
  justify-content: center !important;
}

.baby-container {
  height: 63%;
}

.baby-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.baby-name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.baby-p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.baby-run {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  height: auto
}

body {
  height: 100vh !important;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button-header {
  height: 44%;
  width: 100%;
}
.button-container {
  height: 100%;
}
.button-footer {
  height: 44%;
  width: 100%;
}

.center-form {
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  padding: 1% 0 0 1%;
  height:100%;
  background: linear-gradient(to bottom, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 24%, rgba(224,239,249,1) 63%, rgba(181,198,208,1) 93%, rgba(181,198,208,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#b5c6d0', GradientType=0 );
}

.dropdown {
  float: right;
}

.faq-header {
  text-align: center;
}

.faq-p {
  text-indent: 1.0em;
}

.hp-bar {
  width: 25%;
}

.hp-div{
  width: 100%;
  text-align: left;
}

.logs {
  background: linear-gradient(to bottom, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 24%, rgba(224,239,249,1) 63%, rgba(181,198,208,1) 93%, rgba(181,198,208,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#b5c6d0', GradientType=0 );
  height: 30%;
  width: 75%;
  overflow-y: scroll;
  position: absolute;
  bottom: 10px;
}

.log-list {
  background: rgba(181,198,208,1) !important;
}

.list-item {
  background: rgba(181,198,208,1);
}




.particles-container {
  height: 100%;
}


.particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
background: linear-gradient(to bottom, rgba(242,246,248,0) 0%, rgba(216,225,231,1) 24%, rgba(224,239,249,1) 63%, rgba(181,198,208,1) 93%, rgba(181,198,208,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#b5c6d0', GradientType=0 );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
}

.particles-button{
  display: flex;
  align-items: center;
  justify-content: center;
}

.pie-container-right {
  float: right;
  max-width: 45%
}

.pie-container-left {
  float: left;
  max-width: 45%
}

.streak {
  float: right;
  white-space: pre
}

.title {
  padding: 12% 0 0 0;
  display: block !important;
  justify-content: center !important;
  text-align: center;
}


.title-container {
  height: 50%;
  width: 100%;
  align-items: center !important;
  justify-content: center !important
}

.title-description {
  color: #8080ff;
  display: block !important;
  justify-content: center !important;
  text-align: center;
}

.title-text {
  font-family: cursive;
  font-size: 400%;
  color: #8080ff;
  margin-bottom: 2% !important;
}

@media screen and (max-width: 500px) {

  .hp-bar {
    width: 50%;
  }

  .hp-text {
    font-size: small;
  }

}
